<!-- 勤怠B　新規で作成したファイル       -->
<% provide(:title, "基本情報の更新") %>
<h1><font color="#0101DF">基本情報の更新</h1>
  <!-- アドミンで入ったときに パラムズのidと　@userのidが　ちがうので、パラムズのidを代入する -->
  <% @user = User.find_by(id: params[:id]) %>
  <%# @user.id = params[:id] %>
  <!-- 下記　値を確認するために　一時的に表示 -->
   @user.id <%= @user.id %> 氏名：<%= @user.name %>  params id：<%= params[:id] %>
<div class="row">


  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url:basic_info_edit_path, method: :post) do |f| %>
      <%= hidden_field_tag :id, @user.id %>
     
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :指定勤務時間 %>
      <%= f.time_field :fixed_work_time, class: 'form-control' %>

      <%= f.label :基本勤務時間 %>
      <%= f.time_field :basic_work_time, class: 'form-control' %>

      <%= f.submit "編集",  name:"basic_info_submit", class: "btn btn-primary" %>
    <% end %></font>
  </div>
</div>