<% provide(:title, @user.name) %>
<!-- これより勤怠表示画面の　見出しheadline始まり -->
<table class="table table-bordered">
  <tr>
    <th><%= link_to '←', user_path(user_id: @user.id, button_name: 'last_month',first_day: @first_day, last_day: @last_day, current_day: @current_day), class: "btn btn-primary btn-sm" %></th>
    <th><%= @current_day.strftime('%Y') %>年 <%= @current_day.strftime('%m') %>月 　時間管理表</th>
    <th><%= link_to '→', user_path(user_id: @user.id, button_name: 'next_month',first_day: @first_day, last_day: @last_day, current_day: @current_day), class: "btn btn-primary btn-sm" %></th>
    <th>指定勤務時間　<%= @user.fixed_work_time.hour.to_i  + (@user.fixed_work_time.min.to_f / 60).floor(2) %></th>
    <th colspan="3">基本勤務時間　<%= @user.basic_work_time.hour.to_i  + (@user.basic_work_time.min.to_f / 60).floor(2) %></th>
    <th>初日<%= @first_day.strftime("%m/%d") %></th>
  </tr>
  <tr>
    <td colspan="3">所属:<%= @user.department %></td>
    <td>氏名：<%= @user.name %></td>
    <td>コード</td>
    <td><%= @user.id %></td>
     <%= hidden_field_tag :id, @user.id %>
    <td>出勤日数<%= work_days %>日</td>
    <th>締日<%= @last_day.strftime("%m/%d") %></th>
  </tr>
</table>
<BR>
<li><%= @user.id %></li>
<%#= hidden_field_tag :id, @user.id %>
<%#= hidden_field_tag :current_day, @current_day %>


<!-- これより勤怠表示画面の　カレンダーの見出し -->
<%= link_to "勤怠を編集", edit_attendance_path(user_id: @user.id,first_day: @first_day, last_day: @last_day, current_day: @current_day), class: "btn btn-lg btn-primary" %>
<table class="table table-striped table-bordered">
  <tr>
    <th></th>
    <th></th>
    <th colspan="3">出社</th>
    <th colspan="3">退社</th>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>日付</td>
    <td>曜日</td>
    <td>時</td>
    <td>分</td>
    <th>ボタンの表示</th>
    <td>時</td>
    <td>分</td>
    <td>ボタンの表示</td>
    <th>在社時間</th>
    <th>備考</th>
  </tr>

<!-- これより勤怠表示画面の　1か月分カレンダー始まり -->
<% require 'date' %>
<% @arrey.each do |date| %>
  <tr>
    <td><%= date.strftime("%-m/%-d") %></th>
        <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
    <td><%= date.strftime("#{wd[date.wday]}") %></th>
    <td><%= match_in_hour(date) %></td>
    <td><%= match_in_min(date) %></td>
    <td>
   
      <!-- 本日の欄に出社ボタン表示　-->
      <!-- attendannceテーブルに　一度も登録していない場合と登録済みの場合　-->
      <!-- Time.now + 32400で JSTにする -->
      <% if @attendance.nil? && date == Date.parse((Time.now + 32400).to_s) %>
         <%= link_to '出社', attendances_path(@user, button_name: 'in_office'), method: :post, class: "btn btn-default" %>  <!-- アカウント作成しただけ -->
      <% elsif date == time_to_date_J && @attendance.in_time.nil? %>
          <%= link_to '出社', attendances_path(@user, button_name: 'in_office'), method: :post, class: "btn btn-default" %>  <!-- DB未登録 -->
      <% else %>  
      <% end %>
      </td>
      
      <td><%= match_out_hour(date) %></td>
      <td><%= match_out_min(date) %></td>
   
      <td> 
      <!-- 本日の欄に退社ボタン表示　-->
      <!-- 本日かつ　出社時間登録済み　かつ　退社時間 未登録の場合　退社ボタン表示 -->
      <% if @attendance.nil? %>
       <!-- Time.now + 32400で JSTにする -->
      <% elsif date == Date.parse((Time.now + 32400).to_s) && @attendance.in_time.present? && @attendance.out_time.nil? %>
        <%= link_to '退社', attendances_path(@user, button_name: 'out_office'), method: :post, class: "btn btn-default" %>     <!-- DB出社のみ登録 -->
      <% else %>  
      <% end %>
      </td>
      <td><%= hours_in_company(date) %></td>
      <% if date == @first_day %>
         <% hours_in_company(date) %>
         <% yestaday=0.0 %>
          <td><% @yestaday=hours_in_company(date).to_f %></td>
      <% else %>
     
      <td><% @yestaday = (hours_in_company(date).to_f + @yestaday.to_f).round(2) %></td>
      <% end %>
  </tr>
<% end %><!--@arrey.eachの締め-->
  <tr>
    <td></td>
    <!-- 総合勤務時間の表示　出勤日数×基本時間　-->
    <td>総合勤務時間<%= work_days * (@user.basic_work_time.hour.to_i  + (@user.basic_work_time.min.to_f / 60).floor(2)) %></td>
    <td></td>
    <td></td>
    <th></th>
    <td></td>
    <td></td>
    <td></td>
    <th>在社時間合計<%= @yestaday %></th>
    <th></th>
  </tr>
</table>
<%#= @attendance %><BR>
<%# debugger %>
<%#= @pi %>
<%#= @attendance.id %>















<!-- これより　不要な機能----------------------
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%#= gravatar_for @user %>
        <%#= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%#= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%#= render 'follow_form' if logged_in? %>
    <%# if @user.microposts.any? %>
      <h3>投稿  (<%#= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%#= render @microposts %>
      </ol>
      <%#= will_paginate @microposts %>
    <%# end %>
  </div> 不要な機能ここまで-------------------　　　　-->
</div>