<% provide(:title, @user.name) %>
<!-- これより勤怠表示画面の　見出しheadline始まり -->
<table border="1">
  <tr>
    <th><%= link_to "←", signup_path, class: "btn btn-lg btn-primary" %></th>
    <th><%= "#{now_time.year}年#{now_time.month}月 　時間管理表" %></th>
    <th><%= link_to "→", signup_path, class: "btn btn-lg btn-primary" %></th>
    <th>指定勤務時間●:●</th>
    <th colspan="3">●:●基本時間</th>
    <th><%= "初日#{now_time.beginning_of_month.strftime("%m/%d")}" %></th>
  </tr>
  <tr>
    <td colspan="3">所属●</td>
    <td>氏名：<%= @user.name %></td>
    <td>コード</td>
    <td></td>
    <td>出勤日数●日</td>
    <th>締日<%= "#{now_time.end_of_month.strftime("%m/%d")}" %></th>
  </tr>
</table>
<BR>

<!-- これより勤怠表示画面の　カレンダーの見出し -->
<%= link_to "勤怠を編集", signup_path, class: "btn btn-lg btn-primary" %>
<table border="1">
  <tr>
    <th></th>
    <th></th>
    <th colspan="3">出社</th>
    <th colspan="3">退社</th>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>日付</td>
    <td>曜日</td>
    <td>時</td>
    <td>分</td>
    <th>ボタンの表示</th>
    <td>時</td>
    <td>分</td>
    <td></td>
    <th>在社時間</th>
    <th>備考</th>
  </tr>

<!-- これより勤怠表示画面の　1か月分カレンダー始まり -->
<% require 'date' %>
<% @arrey.each do |date| %>
  <tr>
    <td><%= date.strftime("%m/%d") %></th>
        <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
    <td><%= date.strftime("#{wd[date.wday]}") %></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>
















<!-- これより　不要な機能----------------------
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>投稿  (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div> 不要な機能ここまで-------------------　　　　-->
</div>