<% provide(:title, @user.name) %>
<!-- これより勤怠表示画面の　見出しheadline始まり -->

<table border="1">
  <tr>
    <th><%= link_to "←", signup_path, class: "btn btn-lg btn-primary" %></th>
    <th><%= "#{now_time.year}年#{now_time.month}月 　時間管理表" %></th>
    <th><%= link_to "→", signup_path, class: "btn btn-lg btn-primary" %></th>
    <th>指定勤務時間●:●</th>
    <th colspan="2">●:●基本時間</th>
    <th><%= "初日#{now_time.beginning_of_month.strftime("%m/%d")}" %></th>
  </tr>
  <tr>
    <td colspan="3">所属●</td>
    <td>氏名：<%= @user.name %></td>
    <td>コード</td>
    <td>出勤日数●日</td>
    <th>締日<%= "#{now_time.end_of_month.strftime("%m/%d")}" %></th>
  </tr>
</table>

<!-- これより勤怠表示画面の　見出しheadline終わり -->

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>投稿  (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>