<% #provide(:title, @user.name) %>
<!-- これより勤怠編集画面 -->
<% require 'date' %>
<% require 'time' %>

<%= @first_day %><!--@first_day　回して月末になったから@last_dayで代用-->
<%= @last_day %>
<%= @current_day %>
<%#= @test %>

<table class="table table-striped table-bordered">
<thead>
  <tr>
    <th>日付</th>
    <th>曜日</th>
    <th>出社</th>
    <th>退社</th>
    <th>在社時間</th>
    <th>備考</th>
  </tr>
</thead>
 





<tbody class="bulk-registration-form">
<%= form_for(@user, url: attendance_update_all_path, method: :post) do |f| %>

<%= hidden_field_tag :current_day, @current_day %>
<%= hidden_field_tag :first_day, @first_day %>
<%= hidden_field_tag :last_day, @last_day %>
<%= hidden_field_tag :user_id, @user.id %>

  <% @attendances.each do |atte| %> 
    <tr>
    <%= fields_for "attendances[]", atte do |ff| %>
          <!--日付-->
         <th><%= atte.today.strftime("%-m/%-d") %></td>
          <!--曜日-->
          <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
          <th><%= atte.today.strftime("#{wd[atte.today.wday]}") %></th>
          <!-- 明日以降はフィールドを読み取り専用にする-->
          <% if atte.today > time_to_date_J %>
            <th><%= ff.time_field :in_time, class: "form-control", :readonly => true %></th>
            <th><%= ff.time_field :out_time, class: "form-control", :readonly => true %></th>
          <% else %>
            <th><%= ff.time_field :in_time, class: "form-control" %></th>
            <th><%= ff.time_field :out_time, class: "form-control" %></th>
          <% end %>
          <!-- 退社が押されていない場合-->
          <% if  atte.out_time.nil? %>
          <th></th>
           <!-- 明日以降はフィールドを読み取り専用にする-->
            <% if atte.today > time_to_date_J %>
              <th><%= ff.text_field :remarks, class: "form-control",:readonly => true %></th>
            <% else %>  
              <th><%= ff.text_field :remarks, class: "form-control" %></th>
            <% end %>  
          <% else %>
          <th><%= ((atte.out_time - atte.in_time) / 60 / 60).floor(2) %></th>
            <!-- 明日以降はフィールドを読み取り専用にする-->
            <% if atte.today > time_to_date_J %>
              <th><%= ff.text_field :remarks, class: "form-control",:readonly => true %></th>
            <% else %>  
              <th><%= ff.text_field :remarks, class: "form-control" %></th>
            <% end %>
          <% end %><!--if文の締め-->
              
    <% end %><!-- fields_forの締め -->
  <% end %><!-- @attendances.each 文の締め-->
</tbody>
</table>
<tr>
<div style="text-align:center;">
<%= link_to "キャンセル", user_path(user_id: @user.id,first_day: @first_day, last_day: @last_day, current_day: @current_day, button_name: 'cancel'), style:"width:300px", class: "btn btn-lg btn-primary" %>
<%= f.submit "編集内容で更新", style:"width:300px", class: "btn btn-lg btn-primary" %>
</div>  
<tr/>
<% end %><!-- form_for文の締め-->



