<% #provide(:title, @user.name) %>
<!-- これより勤怠編集画面 -->
<% require 'date' %>
<% require 'time' %>
<table table class="table table-striped table-bordered">
<thead>
  <tr>
    <th>日付</th>
    <th>曜日</th>
    <th>出社</th>
    <th>退社</th>
    <th>在社時間</th>
    <th>備考</th>
  </tr>
</thead>

<!-- これより勤怠編集画面の　1か月分カレンダー始まり -->
<tbody class="bulk-registration-form">
<% require 'date' %>
<% require 'time' %>
<% @arrey.each do |date| %>
   <tr>
    <th><%= date.strftime("%-m/%-d") %></th>
    <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
    <th><%= date.strftime("#{wd[date.wday]}") %></th>
    <% edit_form_for(date) %>
      <% if @attendance.nil? %>
        <%#= form_for(@attendance, url: attendance_path) do |f| %>
       
        <th><%= time_field name="in_time_new", class: "form-control" %></th>
        <th><%= time_field name="out_time_new", class: "form-control" %></th>
        <th></th>
        <th></th>
         </tr>
        <%# end %>
      <% else %>
      
        <%= form_for(@attendance, url: attendance_path) do |f| %>
          <th><%= f.time_field :in_time, class: "form-control" %></th>
          <th><%= f.time_field :out_time, class: "form-control" %></th>
          <th><%= hours_in_company(date) %></th>
          <th></th>
           </tr>
           <!-- 最後の行（月末）だったら、編集・キャンセルボタンを表示 -->
        
        <% end %>
        
      <% end %>
 </tbody>
<% end %>
</table>


<%#= f.submit "編集",  name:"attendance_submit", class: "btn btn-primary" %>
<button type="submit" class="btn btn-warning">キャンセル</button>
<button type="button" class="btn btn-primary">更　　新</button>
