<% #provide(:title, @user.name) %>
<!-- これより勤怠編集画面 -->

<table table class="table table-striped table-bordered">
<thead>
  <tr>
    <th>日付</th>
    <th>曜日</th>
    <th>出社</th>
    <th>退社</th>
    <th>在社時間</th>
    <th>備考</th>
  </tr>
</thead>

<!-- これより勤怠編集画面の　1か月分カレンダー始まり -->
<tbody class="bulk-registration-form">
   <%= form_for(attendance_path) do |f| %>
   <% require 'date' %>
<% @arrey.each do |date| %>
   <tr>
    <th><%= date.strftime("%-m/%-d") %></th>
      <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
    <th><%= date.strftime("#{wd[date.wday]}") %></th>
    <th><%= edit_in_time(date) %></th>
    <th><%= edit_out_time(date) %></th>
    <th><%= hours_in_company(date) %></th>
    <th><%#= text_field :yobi, :yobi %></th>
  </tr>
  <% end %>
<% end %>
</tbody>
</table>
